/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap'); */
@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
  
  --color-primary: #524DE5;
  --color-light-green: #C2FE9E;
  --color-surface-light: #F4F5FF;
  --color-secondary: #7875FB;
  --color-black: #000000;
  --color-light-purple: #BFBBFF;
}

:root {
  font-family: var(--font-cairo);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-black);
  background-color: var(--color-surface-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

button{
 font-family: "Inter", sans-serif;
 font-size: 13px;
}

.scroll-linee-indicator{
  width: 2px;
  height: 150px;
  background-color: #ffffff61;
  position: relative;
 
}

.scroll-linee-indicator::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #fff;
}

.main-heading{
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 600px) {
 .padding-50{
  padding: 50px !important;
}
.blog-banner-details .w-full.p-10{
  padding: 20px;
}
.blog-banner-details h3{
  font-size: 19px;
  font-weight: 600;
}
.ready-to-driver-cotnainer{
  margin-bottom: 250px;
}
.blogs .banner img,.pricing .banner img{
  height: 240px;
  object-fit: cover;
}
.sub-heading {
  font-size: 25px;
}
.footer0actions  div{
  margin: auto !important;
  margin-bottom: 10px !important;
}
.foooter .w-32{
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
.foooter p{
  text-align: center !important;
}
.foooter .flex{
  justify-content: center;
}
.build-container button{
  margin: auto;
}
}
@media screen and (max-width: 450px) {
 .padding-50{
  padding: 30px !important;
}
}


