/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap'); */
@import "tailwindcss";

@theme {
  --font-cairo: "Cairo", sans-serif;
  
  --color-primary: #524DE5;
  --color-light-green: #C2FE9E;
  --color-surface-light: #F4F5FF;
  --color-secondary: #7875FB;
  --color-black: #000000;
  --color-light-purple: #BFBBFF;
}

:root {
  font-family: var(--font-cairo);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--color-black);
  background-color: var(--color-surface-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
}
html  * {font-family: "DM Sans", sans-serif;}

button{
 font-family: "Inter", sans-serif;
 font-size: 13px;
}

.scroll-linee-indicator{
  width: 2px;
  height: 150px;
  background-color: #ffffff61;
  position: relative;
 
}

.scroll-linee-indicator::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  background-color: #fff;
}

.main-heading{
  font-family: "Poppins", sans-serif;
}
.sub-heading,.sub-heading * {
  font-family: "Poppins", sans-serif;
 
}
.mainheading{
 font-size: 48px;
  font-weight: 600;
}

.sigup-flows .step-container{
  height: 490px;
}

.build-container .paragrarh{
  font-size: 20px !important;
  font-weight: 400 !important;
}

.hero-banner-right .divider{
  width: 3px;
  height: 29px;
  background-color: #CACACA;
}
.hero-banner-right{
  font-family: "Inter", sans-serif;
}
.footer0actions div{
  margin-bottom: 10px;
}

.paratExt p.paragrarh {
  /* font-size: 24px !important; */
  font-weight: 300 !important;
  color: #424242;
  line-height: 1.5;
}


.step-details .sub-heading.mainclass{
  font-size: 36px;
  font-weight: bold;
}
.step-details .sub-heading.subcalss{
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 14px;
}

.step-details p.text{
  font-size: 16px !important;
  color: #747474;
}


.blog-deta h3{
  font-size: 23px;
  font-weight: 400;
}

.blog-deta p{
  font-size: 16px !important;
  font-weight: 400;
}

.blog-deta > strong {
  font-family: 'Inter', sans-serif;
}
.blogsrecords > strong{
  font-size: 14px;
  font-weight: 600;
}

/* ............... */
.stri-heading{
  font-size: 24px !important;
  font-weight: 600 !important;
}
.strip-text {
  font-size: 16px !important  ;
  font-weight: 500 !important;
}

/* .............. */
.blog-user{
  font-size: 14px !important;
  font-weight: 500 !important;
}
.blog-date{
  font-size: 12px !important;
  font-weight: 400 !important;
}
.blog-category{
  font-size: 11px !important;
  font-weight: 500 !important;
  background-color: #E9E2FF;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 6px;
}
.blogdetailestext{
  font-size: 20px !important;
  font-weight: 400 !important;
}


/* ........................ */
.keyfeaturetext,.riskfreetext{
  color: #747474;
  font-size: 16px;
  font-weight: 400;
}
.aboutcontainertext{
  color: #585858;
  font-size: 16px;
  font-weight: 400;
}


.genixdrivetext{
  font-size: 18px;
  font-weight: 400;
  color: #747474;
}







/* .................. */
.featuerHerText{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #4C4C4C;
    font-weight: 400;
}


@media screen and (max-width: 600px) {
 .padding-50{
  padding: 100px 50px !important;
}
.blog-banner-details .w-full.p-10{
  padding: 20px;
}
.blog-banner-details h3{
  font-size: 19px;
  font-weight: 600;
}
.ready-to-driver-cotnainer{
  margin-bottom: 250px;
}
.blogs .banner img,.pricing .banner img{
  height: 240px;
  object-fit: cover;
}
.sub-heading {
  font-size: 25px;
}
.footer0actions  div{
  margin: auto !important;
  margin-bottom: 10px !important;
}
.foooter .w-32{
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
.foooter p{
  text-align: center !important;
}
.foooter .flex{
  justify-content: center;
}
.build-container button{
  margin: auto;
}
.mobileMenu a{
  display: block;
  padding: 5px 0;
  font-size: 15px;
}

.sigup-flows .step-container{
  width: 100%;
  height: auto;
  padding: 30px;
}
}
@media screen and (max-width: 450px) {
 .padding-50{
  padding:70px 30px !important;
}
}


